fastapi==0.65.1
feature-engine==1.0.2
jupyterlab==3.0.9
numpy==1.20.1
pandas==1.2.2
pandas-profiling==2.11.0
pandera==0.6.2
pdoc==7.0.3
prefect[viz]==0.14.12
pydantic==1.8.2
pytest==6.2.2
uvicorn==0.13.4
